:root {
    --buttoncolor: #6d5efa;
    --buttontext: #fff;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
display: inline-flex;
width: 100%;
justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

li {
    margin-top: 3px;
}

.content {
    margin-top: 50px;
}

h1 {
    margin-bottom: 5px;
    font-size: 32px;
}

h2 {
    font-size: 30px;
}

.content p {
    margin-top: 5px;
}

.content button {
    font-size: 20px;
}

#before-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#start-button {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--buttoncolor);
    color: var(--buttontext);
    border: 0px;
    border-radius: 4px;
    min-width: 50px;
}

button {
    background-color: var(--buttoncolor);
    color: var(--buttontext);
    border: 0px;
    border-radius: 4px;
}

button:hover {
    background-color: #8579f8;
    cursor: pointer;
}

#start-button:hover {
    background-color: #8579f8;
}

#highscore-screen button {
    margin-top: 10px;
}